body{
    background-color: #010042;
}

.catalogList{
    margin: 10vh 0 0 0;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.catalogList > * {
    margin: 3vh;
    border: solid 5px yellow;
    padding: 2vh;
}