.NavbarMain {
    --header-total-height: 10vh;
    --header-top-height: 3vh;
    --header-middle-height: 6vh;
    --header-low-height: 10vh;

    height: var(--header-total-height);
    width: 100%;
}

.NavbarMain > div {
    top: 0;
    left: 0;
    position: fixed;
}

.TopBar {
    height: var(--header-top-height);
    background-color: var(--grey);
    width: 100%;
    z-index: 3;
    opacity: 0.5;
}

.MidBar {
    height: var(--header-middle-height);
    background-color: var(--grey);
    width: 100%;
    z-index: 2;
    opacity: 0.4;
}

.LowBar {
    height: var(--header-low-height);
    background-color: var(--grey);
    width: 100%;
    z-index: 1;
    opacity: 0.3;
}

.Jaalidiv {
    height: var(--header-total-height);
    width: 100%;
    background-image: url("./jaali.png");
    background-size: 143.08vh;
    background-repeat: repeat;
    filter: brightness(120%) invert(95%) opacity(5%);
    z-index: 4;
}

.NavCont {
    display: flex;
    width: 100vw;
    height: 10vh;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
}

.CAlogo {
    margin: 2vw 2vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    height: 8vh;
    width: 8vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    color: black;
    width: 60vw;
    height: 5vh;
    z-index: 10;
    padding-left: 1.37vh;
    border-radius: 2.73vh;
    outline: 0.07vh solid rgb(197, 197, 197);
    background-color: white;
}

.MyCart {
    height: 7.5vh;
    width: 8.5vh;
    margin: 0 2vw 0 2vw;
    z-index: 10;
    display: flex;
    align-items: center;
}

.MyCart > svg {
    font-size: clamp(20px, 8vmin, 60px);
    color: var(--grey_dark)
}

.searchform {
    z-index: 10;
    color: black;
    display: flex;
    width: 60vw;
    height: max-content;
    display: flex;
    align-items: center;
    position: relative;
}

.icon_search {
    position: absolute;
    right: 1vw;
    z-index: 20;
}

.NavbarMain .logoimg {
    height: clamp(20px, 8vmin, 100px);
    width: clamp(20px, 8vmin, 100px);
}
