.productImage {
    height: 200px;
    width: 200px;
    border-radius: 2.09vh;
    z-index: 10;
    transition: filter 1s ease;
}

.imageContainer {
    position: relative;
    height: max-content;
    width: 45vw;
    border-radius: 2.09vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.textContainer {
    position: relative;
    z-index: 20;
    margin: 1vh 0 1vh 0;
    color: #fbff00;
    font-weight: 500;
    font-size: 20px;
    padding: 1vh;
    border-radius: 2vh;
    z-index: 10;
    transition: filter 1s ease;
}

.backdropFilter {
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inNum {
    color: black;
    width: 36.5px;
    font-size: 16px;
    height: 21.9px;
    padding-left: 0.5vh;
    background-color: rgb(227, 227, 227);
    border-radius: 0.59vh;
}

.cartImage {
    font-size: 12px;
    width: 20%;
    font-weight: 500;
    height: auto;
    color: #fbff00;;
    margin: 0 1vh 0 1vh;
    cursor: pointer;
    z-index: 15;
}

.priceContainer {
    color: #fbff00;
    margin: 1vh 0 1vh 2vh;
    font-size: 12px;
    font-weight: 500;
    z-index: 15;
}

.qtyText {
    color: #fbff00;
    font-size: 12px;
    font-weight: 500;
}

.cartContainer {
    width: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 15;
}

.moreText {
    color: #fbff00;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 1vh;
    cursor: pointer;
    border-radius: 1.19vh;
}