.NavbarMain{
    height: max-content;
    width: 100vw;
    background-color: #fbff00;
}

.searchform{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logoimg{
    height: 100px;
}

.searchbar{
    width: 90vw;
    height: 50px;
    border: solid 5px black;
    margin: 2vh;
    padding-left: 20px;
}