@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

.mainframe {
    flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.Categories {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  height: 50vh;
  margin: 3vh;
}

.catvalitem {
  font-size: 2.19vh;
  font-family: Arial, Helvetica, sans-serif;
  height: max-content;
  border-radius: 3rem;
  color: white;
  border: solid var(--grey_light) 0.13vh;
  padding: 0.2rem 1rem;
  margin: 0 0.34vh 0.27vh 0.34vh;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.8);
}

.infomenu {
  display: flex;
  justify-content: space-between;
  height: max-content;
  gap: 3vmin;
  padding: 0 3vmin;
}


@media (max-width: 600px) {
  .infomenu {
    flex-direction: column; /* Change to column layout on screens less than 600px wide */
  }
}


.StockForm {
    flex: 1;
    color: black;
    display: grid;
}

.PriceMenu {
  color: black;
  font-size: 2.19vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: scroll;
}

.priceval {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pricetext {
  font-weight: 600;
  font-size: 2.19vh;
}

.sampletext {
  color: var(--grey_light);
  font-size: 1.64vh;
}

.sampletext2 {
  font-size: 2.19vh;
  font: "Poppins", sans-serif;
  font-weight: 600;
  grid-column: 1/5;
}

.QtyNum {
  font-size: 2.19vh;
  padding: 1vmin;
  width: 75%;
  margin: 0 0 0 0;
  background-color: var(--grey_very_light);
  grid-column: 1/2;
  height: 5vh;
}

.CartButton {
  font-size: 2.19vh;
  width: 100%;
  background-color: var(--grey_dark);
  color: white;
  grid-column: 2/5;
  height: 5vh;
  padding: 0 1vmin;
}

#shipping {
  margin-bottom: 0.68vh;
}

.maintitle {
  font-size: 4.38vh;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
}

.StoryCont {
  font-size: 2.19vh;
  padding: 1vh 3vh 1vh 3vh;
  margin: 0 0 7vh 0;
  height: max-content;
  background-color: var(--grey_very_light);
  color: black;
  font-family: "Poppins", sans-serif;
  border-radius: 2.05vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionBod {
  font-size: 2.19vh;
  padding: 1vh 3vh 1vh 3vh;
  height: max-content;
  background-color: var(--grey_very_very_light);
  margin: 5vh 0 7vh 0;
  color: black;
  font-family: "Poppins", sans-serif;
  border-radius: 2.05vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storytitle {
  font-weight: 600;
  font-size: larger;
  margin: 2vh 0 2vh 0;
}

.story {
  margin-bottom: 3vh;
}

.storylink {
  background-color: var(--grey_dark);
  color: white;
  padding: 0.68vh 0.95vh 0.68vh 0.95vh;
  border-radius: 2.05vh;
  width: max-content;
}

.CategoryList::-webkit-scrollbar,
.PriceMenu::-webkit-scrollbar,
.StoryCont::-webkit-scrollbar,
.mainframe::-webkit-scrollbar {
  /* display: none;
     */
  height: 0.54vh;
  width: 0.54vh;
}

.CategoryList::-webkit-scrollbar-thumb,
.PriceMenu::-webkit-scrollbar-thumb,
.StoryCont::-webkit-scrollbar-thumb,
.mainframe::-webkit-scrollbar-thumb {
  background: var(--grey_light);
  border-radius: 1.36vh;
  height: 0.13vh;
  width: 0.13vh;
}
